.banner {
	border: 1px solid #ff1744;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-radius: 4px;
	flex-wrap: wrap;

	& p {
		margin: 0;
	}

	&.error {
		background-color: #ffcdd2;
		color: #ff1744;
	}
}
