main#subgroups {
	& .banner {
		margin-bottom: 20px;
	}

	& .subgroup-header {
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		& .controls {
			@media (max-width: 800px) {
				margin-top: 20px;
			}
		}

		& .controls button:not(:first-of-type) {
			margin-left: 10px;
		}
	}

	& .non-attach-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	& .filters {
		&.mobile {
			display: none;
		}

		&.desktop {
			display: flex;
		}

		@media (max-width: 400px) {
			&.desktop {
				display: none;
			}

			&.mobile {
				display: flex;
			}
		}
	}
}
