main#courses{

	.filters-wrapper{
		display: flex;
		flex-grow: 1;
		align-items: baseline;
	
		& > *{
			padding: 10px;
	
			& h3{
				margin: 0;
				font-weight: 400;
			}
		}
	
		& .disciplines{
	
			width: 100px;
			max-width: 500px;
			flex-grow: 1;
		}
		
		& .courses{
	
			width: 30px;
			max-width: 200px;
			flex-grow: 1;
		}
	
		& .search{
	
			width: 30px;
			max-width: 200px;
			flex-grow: 1;
		}
	
		& .action{
			display: flex;
			justify-content: space-between;
		}
	
		@media(min-width: 1200px){
	
			& .mobile-collapse{
				display: none;
			}
		}
	
		@media(max-width: 1200px){
	
			flex-direction: column;
			align-items: unset;
	
			& .disciplines, & .courses, & .search{
				box-sizing: border-box;
				width: 100%;
				max-width: unset;
	
				& > *{
					width: 100%;
				}
			}
		}
	}
}
