main#statements {
	.tabs-wrapper {
		display: flex;
		justify-content: space-between;
	}

	tr {
		& .actions-wrapper {
			display: inline-flex;
			opacity: 0.3;
			transition: opacity 0.2s ease-in-out;
		}

		&:hover {
			.actions-wrapper {
				opacity: 1;
			}
		}
	}

	.MuiPaper-root {
		& h2 {
			margin-top: 0;
		}
	}
}
